<!-- 1 Column Text + Button : BEGIN -->
<tr name="feature">
    <td>
        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" class="bg-white">
            <if condition="typeof image !== 'undefined'">
                <tr>
                    <td class="font-main px-5">
                        <img src="{{ image }}" class="w-full" width="640">
                    </td>
                </tr>
            </if>
            <tr>
                <td class="px-5 py-2.5">
                    <h2 class="m-0 text-orange font-main text-h1">Feature: {{ heading }}</a></h2>
                </td>
            </tr>
            <tr>
                <td class="text-black text-sm mb-0 font-main px-5 leading-5" style="padding-bottom: 10px">
                    <content></content>
                </td>
            </tr>
        </table>
    </td>
</tr>
<!-- 1 Column Text + Button : END -->