<!-- 1 Column Text + Button : BEGIN -->
<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr class="bg-lightblue-bg" style="padding-bottom:12px">
        <td width="6" color="#9D4CDC" style="background-color:#9D4CDC; width:12px"></td>
        <td class="font-main pl-3 pr-3 pb-3">
            <span>
                <p>User personas help keep the user at the center of the design process, leading to more intuitive and successful products.  Our UX and Research partners have developed user personas that include disability characteristics. December’s contest showcases our partners’ personas.</p>
                <p>Directions: 
                    <ol>
                        <li>Match the Guest Persona to the quote they are most likely to say during a stay (e.g. Ann and Bill Lawler to Quote 1)</li>
                        <li>The first person to get all answers correct by <strong>January 8</strong> wins a prize!</li>
                        <li>Play the full <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=0pICZtXPPUq3p-j37kWKCrea_ARpMpdNjarzGirGCk1UMVRVN1k5NUpTT0M0S0ZFVkcxSUNQVUQxNi4u">Persona pair-up</a> game now!</li>
                    </ol> 
                </p>
            </span>    
    </td>
    </tr>
    <tr class="bg-lightblue-bg">
        <td width="6" color="#9D4CDC" style="background-color:#9D4CDC; width:12px"></td>
        <td class="font-main pl-3 pr-3">
            <table role="table" cellspacing="0" cellpadding="0" border="0" width="100%" class="desktop-table">
                <thead>
                    <tr class="bg-lightblue-bg" role="row">
                        
                            <th role="columnheader" scope="col" class="text-base" width="400" align="center">Guest Personas</th>
                            <th role="columnheader" scope="col" class="text-base" align="center">Quotes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-lightblue-bg">
                        <td class="font-main pr-3 pb-3">
                            <!--[if mso]>
                            <table role="presentation" border="0" cellpadding="0" width="400" cellspacing="0"><tr><td style="padding:5px 12px 5px 12px;>
                            <![endif]-->
                                        <span>
                                            <img src="../images/ann-bill.png" alt="" align="left" width="95" height="95" class="article-image float-left ml-3 mb-3 mr-3">
                                        </span>
                            <!--[if mso]>
                                    </td>
                                    <td>
                            <![endif]-->
                                        <span class="text-sm font-main leading-4.5 m-0 py-1 text-left">
                                            <p class="text-sm m-1"><strong>Ann and Bill Lawler</strong></p>
                                        Ann and Bill are in their late 60s and early 70s, dealing with age-related vision loss and arthritis. They need accessible technology to help with their mobility and low vision.
                                        </span>
                                    <!--[if mso]>
                                    </td>
                        </td></tr></table>
                        <![endif]-->    
                        </td>
                        <td class="font-main pr-3"><p><strong>1.</strong> "Reading text that's too light is a challenge. I need to be able to make it bigger to see it clearly."</p></td>
                    </tr>
                    <tr class="bg-lightblue-bg">
                        <td class="font-main pr-3">
                            <!--[if mso]>
                            <table role="presentation" border="0" cellpadding="0" width="400" cellspacing="0"><tr><td style="padding:5px 12px 5px 12px;>
                            <![endif]-->
                                        <span>
                                            <img src="../images/avery-hardworker.png" alt="" align="left" width="100" height="100" class="article-image float-left ml-3 mb-3 mr-3">
                                        </span>
                            <!--[if mso]>
                                    </td>
                                    <td>
                            <![endif]-->
                                        <span class="text-sm font-main leading-4.5 py-1 m-0 text-left">
                                            <p class="text-sm m-1"><strong>Avery Hardworker</strong></p>
                                            Avery is 40 years old with attention-deficit/hyperactivity disorder, or ADHD. They prefer digital communication and need clear, distraction-free interfaces.
                                        </span>
                            <!--[if mso]>
                                    </td>
                        </td></tr></table>
                            <![endif]--> 
                        </td>
                        <td class="font-main pr-3"><p><strong>2.</strong> "I truly appreciate having a quiet room at the hotel when I feel overstimulated."</p></td>
                    </tr>
                    <tr class="bg-lightblue-bg" style="padding-bottom:12px">
                        <td class="font-main pr-3">
                            <!--[if mso]>
                            <table role="presentation" border="0" cellpadding="0" width="400" cellspacing="0"><tr><td style="padding:5px 12px 5px 12px;>
                            <![endif]-->
                                        <span>
                                            <img src="../images/millie-neal.png" alt="" align="left" width="100" height="100" class="article-image float-left ml-3 mb-3 mr-3">
                                        </span>
                            <!--[if mso]>
                                    </td>
                                    <td>
                            <![endif]-->
                                        <span class="text-sm font-main leading-4.5 py-1 m-0 text-left">
                                            <p class="text-sm m-1"><strong>Millie Neal</strong></p>
                                            Millie is 28 years old, deaf, and an early tech adopter. She needs accessible communications during her travels.
                                        </span> 
                            <!--[if mso]>
                                    </td>
                        </td></tr></table>
                            <![endif]--> 
                        </td>
                        <td class="font-main pr-3"><p><strong>3.</strong> "I really hope the meeting I'm attending has a sign language interpreter. It would make such a difference for me."</p></td>
                    </tr>
                    <tr class="bg-lightblue-bg">
                        <td class="font-main pr-3">
                            <!--[if mso]>
                            <table role="presentation" border="0" cellpadding="0" width="400" cellspacing="0"><tr><td style="padding:5px 12px 5px 12px;>
                            <![endif]-->
                                        <span>
                                            <img src="../images/olive-kidman.png" alt="" align="left" width="100" height="100" class="article-image float-left ml-3 mr-3">
                                        </span>
                            <!--[if mso]>
                                    </td>
                                    <td>
                            <![endif]-->
                                        <span class="text-sm font-main leading-4.5 py-1 m-0 text-left">
                                            <p class="text-sm m-1"><strong>Olive Kidman</strong></p>
                                            Olive is 34 years old, blind, and travels with a guide dog. She needs accessible technology and assistance from hotel staff.
                                        </span> 
                            <!--[if mso]>
                                    </td>
                        </td></tr></table>
                            <![endif]--> 
                        </td>
                        <td class="font-main pr-3 pb-3"><p><strong>4.</strong> "I appreciate the friendly staff who assist me with breakfast each morning."</p></td>
                    </tr>
                </tbody>
            </table>
            <table role="presentation" class="mobile-table" id="mobile-table" cellspacing="0" cellpadding="0" border="0" width="100%" style="padding-left:12px;">
                <tr class="bg-lightblue-bg">
                    <td class="mobile-td font-main pr-3 pb-3"><h3>Guest Personas</h3></td>
                </tr>
                <tr class="bg-lightblue-bg">
                    <td class="mobile-td font-main pr-3 pb-3">
                        <div class="mobile-td text-center">
                            <img src="../images/ann-bill.png" alt="" align="center" width="95" height="95" class="float-none ml-3 mb-3 mr-3">
                        </div>
                    <div>
                        <p><strong>Ann and Bill Lawler</strong></p>
                       <p>Ann and Bill are in their late 60s and early 70s, dealing with age-related vision loss and arthritis. They need accessible technology to help with their mobility and low vision.</p>
                    </div>    
                    </td>
                </tr>
                <tr class="bg-lightblue-bg">
                    <td class="mobile-td font-main pr-3 pb-3">
                        <div class="mobile-td text-center">
                            <img src="../images/avery-hardworker.png" alt="" align="center" width="100" height="100" class="float-none ml-3 mb-3 mr-3">
                        </div>
                    <div>
                        <p><strong>Avery Hardworker</strong></p>
                        <p>Avery is 40 years old with attention-deficit/hyperactivity disorder, or ADHD. They prefer digital communication and need clear, distraction-free interfaces.</p>
                        </div>
                    </td>
                </tr>
                <tr class="bg-lightblue-bg">
                    <td class="mobile-td font-main pr-3 pb-3">
                        <div class="mobile-td text-center">
                            <img src="../images/millie-neal.png" alt="" align="center" width="100" height="100" class="float-none ml-3 mb-3 mr-3">
                        </div>
                    <div>
                        <p><strong>Millie Neal</strong></p>
                        <p>Millie is 28 years old, deaf, and an early tech adopter. She needs accessible communications during her travels.</p>
                    </div> 
                    </td>
                </tr>
                <tr class="bg-lightblue-bg">
                    <td class="mobile-td font-main pr-3 pb-3">
                        <div class="mobile-td text-center">
                            <img src="../images/olive-kidman.png" alt="" align="center" width="100" height="100" class="float-none ml-3 mr-3">
                        </div>
                    <div>
                        <p><strong>Olive Kidman</strong></p>
                        <p>Olive is 34 years old, blind, and travels with a guide dog. She needs accessible technology and assistance from hotel staff.</p>
                    </div> 
                    </td>
                </tr>
                <tr class="bg-lightblue-bg">
                    <td class="mobile-td font-main pr-3">
                        <h3>Quotes</h3>
                        <ol class="mobile-td">
                            <li class="mobile-td">"Reading text that's too light is a challenge. I need to be able to make it bigger to see it clearly."</li>
                            <li class="mobile-td">"I truly appreciate having a quiet room at the hotel when I feel overstimulated."</li>
                            <li class="mobile-td">I really hope the meeting I'm attending has a sign language interpreter. It would make such a difference for me."</li>
                            <li class="mobile-td">I appreciate the friendly staff who assist me with breakfast each morning."</li>
                        </ol>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr role="presentation" class="bg-lightblue-bg" style="padding-bottom:12px">
        <td width="6" color="#9D4CDC" style="background-color:#9D4CDC; width:12px"></td>
        <td class="font-main pl-3 pr-3 pb-3">
            <p class="pb-0 mb-0">A special shout out to Cali White and our UX Research partners for collaborating with the Digital Accessibility (A11y) team on creating and sharing the personas.</p>
        </td>
    </tr>
    <tr class="bg-lightblue-bg" style="padding-bottom:12px">
        <td width="6" color="#9D4CDC" style="background-color:#9D4CDC; width:12px"></td>
        <td class="font-main pl-3 pr-3 pb-3">
            <h3>November’s Contest Winner: Give thanks for assistive technology</h3>
        </td>
    </tr>
    <tr role="presentation" class="bg-lightblue-bg">
        <td width="6" color="#9D4CDC" style="background-color:#9D4CDC; width:12px"></td>
        <td class="font-main pl-3 pr-3">
            <!--[if mso]>
            <table role="presentation" border="0" cellpadding="0" width="692" cellspacing="0"><tr><td style="padding: 5px 12px 5px 12px;">
            <![endif]-->
            <span>
                <img src="../images/rachel.png" alt="Rachel Harvey" align="left" width="100" height="100" class="article-image float-left ml-3 mr-3">
            </span>
            <!--[if mso]>
            </td>
            <td>
                <![endif]-->
                <span class="text-sm font-main leading-4.5 py-1 m-0 text-left">
                    <p class="pb-0 mb-0">Last month, we celebrated the amazing assistive technology that makes our lives more enjoyable! From closed captioning and adjustable text sizes to glasses, audiobooks, and gaming accessibility, there was so much to be thankful for.</p>
                </span> 
        <!--[if mso]>
        </td>
        </tr></table>
        <![endif]--> 
        </td>
    </tr>
    <tr class="bg-lightblue-bg" style="padding-bottom:12px">
        <td width="6" color="#9D4CDC" style="background-color:#9D4CDC; width:12px"></td>
        <td class="font-main pl-3 pr-3 pb-3">
            <p class="pb-0 mb-0">A big shoutout to our contest winner, Rachel Harvey, who won a random prize drawing by sharing their favorite assistive tech and why they love it.</p>
            <p class="pb-0 mb-0">“My glasses make it so I don't need very much other assistive tech, but I have also used VoiceOver a lot when I need to get my eyes dilated! edit: also audiobooks!!”</p>
            <p class="pb-0 mb-0">Enjoy your prize, Rachel, and good luck to everyone participating this month!</p>
        </td>
    </tr>
<!-- 1 Column Text + Button : END -->