<!-- 1 Column Text + Button : BEGIN -->
<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="padding-left:12px;">
    <tr class="bg-beige-bg">
        <td width="6" color="#00B050" style="background-color:#00B050; width:12px"></td>
        <td class="font-main pl-3 pr-3">
            <!--[if mso]>
            <table role="presentation" border="0" cellpadding="0" width="300" cellspacing="0" align="right" style="width:300px; height=170px"><tr><td style="padding:5px 5px 12px 12px;">
            <![endif]-->
            <span>
                <img src="../images/csun-group.jpeg" alt="The A11y team and others at CSUN 2024" align="right" width="300" height="170" class="article-image float-right ml-3 mb-3 mr-3">
            </span>
            <!--[if mso]>
        </td></tr></table>
        <![endif]-->
        <span class="text-sm font-main leading-4.5 py-1 m-0 text-left" style="padding-bottom: 8px;">
                <p>As we welcome the New Year, we’re thrilled to celebrate the A11y team's achievements in 2024! In addition to the launch of this newsletter, here are a few highlights:</p>
                <ul>
                    <li style="margin-bottom: 12px"><strong>Global Accessibility Awareness Day (GAAD):</strong> Our GAAD event spanned three days, from May 14 to 16, and was held at six global corporate offices. It featured <strong>13</strong> virtual sessions and <strong>9</strong> onsite events, attracting close to <strong>1500</strong> participants. The keynote speaker was Joe Devon, founder of the GAAD Foundation.</li>
                    <li style="margin-bottom: 12px"><strong>CSUN Assistive Technology Conference:</strong>Nearly <strong>40</strong> Hilton Team Members attended the conference, absorbing approximately <strong>670</strong> total hours focused on disability and accessibility training. The A11y team presented about their collaborative approach to building the accessible video player. Additionally, we’ve been selected to present again next year!</li>
                    <li style="margin-bottom: 12px"><strong>Digital Compliance:</strong> As part of our overall automated compliance monitoring efforts, we are thrilled to report that we are ending the year with a compliance score of <strong>91%</strong> for our One Hero Web and Curated platforms and increased our number of pages scanned by <strong>32%</strong>. While our compliance scores fluctuate throughout the year as new features (e.g. Hilton for Business) and web content (e.g. SLH, Graduate, etc.) are released this represents an overall increase of 3% for all accessibility standards that can be tested using our enterprise automated scanning tool called AxeMonitor. Ending 2024, we added A11y Acceptance Criteria to over <strong>690</strong> user stories. <strong>547</strong> A11y bugs were opened and over <strong>50%</strong> of those have been resolved.</li>
                    <li style="margin-bottom: 12px"><strong>Comprehensive training:</strong> We delivered <strong>2000+</strong> hours of accessibility training.  <a href="https://hilton.sharepoint.com/sites/LS_Accessibility/SitePages/Contact-the-A11y-Team.aspx">Connect with us</a> for accessibility training like how to create accessible PowerPoints, emails, meetings and events and more. If you’re new, we also provide an introduction to accessibility.</li>
                </ul>
        </span>
        </td>
    </tr>
    <tr class="bg-beige-bg" style="padding-bottom:12px">
        <td width="6" color="#00B050" style="background-color:#00B050; width:12px"></td>
        <td class="font-main pl-3 pr-3 pb-3">
            <!--[if mso]>
            <table role="presentation" border="0" cellpadding="0" width="100" cellspacing="0" align="right" style="width:100px; height:211px"><tr><td style="padding:5px 5px 12px 12px;">
            <![endif]-->
            <span>
                <img src="../images/honors.png" alt="Hilton Honors App" align="right" width="100" height="211" class="article-image float-right mt-0 ml-3 mb-3 mr-3">
            </span>
            <!--[if mso]>
        </td></tr></table>
        <![endif]-->
            <span class="text-sm font-main leading-4.5 pb-1 m-0 text-left" style="padding-bottom: 8px;">
                <ul class="mt-0">
                <li style="margin-bottom: 12px">
                    <strong>Tech innovations:</strong>
                    <ul>
                        <li><strong><a href="https://www.hilton.com/en/brands/graduate-hotels/">Video Player</a></strong>: Our new accessible video player is best-in-class, featuring captions, audio descriptions, and descriptive transcripts that are crucial for everyone to be able to enjoy video content.</li>
                        <li><strong><a href="https://hilton.sharepoint.com/sites/LS_CustomerExperience/SitePages/Features.aspx">Connected Room</a></strong>: TV's now include a screen reader enabling our blind and low-vision guests access to the personalized in-room experience.</li>
                        <li style="margin-bottom: 12px"><strong>Hilton Honors</strong>:  Our app received a significant facelift and now supports text enlargement and dark mode will be coming soon. These improvements increase usability by giving the user control of how they prefer to view content on their device.</li>
                    </ul>
                </li>
                <li style="margin-bottom: 12px"><strong>3rd Party Vendor Accessibility Program</strong>: We established a Third-Party Accessible Vendor program and policy. This will ensure all procured technologies, including software, hardware, and digital content, are accessible to everyone, including those with disabilities.</li>
                <li><strong>Partnerships:</strong>
                    <ul>
                        <li><strong><a href="https://stories.hilton.com/releases/hilton-and-be-my-eyes-launch-industry-first-partnership">Be My Eyes</a></strong>: Hilton partnered with the Be My Eyes app, integrating AI-powered virtual assistance and direct support from our specially trained Hilton Reservation Customer Care (HRCC) agents to support blind and low-vision guests!</li>
                        <li><strong>3Play Media</strong>: A lot of rich, video content no longer simply isn't available to the full audience - and it enables many stakeholders to "add on" accessibility without a significant lift from the A11y team.</li>
                        <li style="margin-bottom: 12px"><strong>Grackle Docs</strong>: This partnership means that hotel owners who procure PDF flyers or menus can submit them, pay for remediation, and within a short period of time have materials that were not produced with accessibility added to their sites.</li>
                    </ul>
                </li>
                </ul>
                <p>Looking ahead to 2025, we are excited to expand our accessibility initiatives to further enhance the guest experience.</p>
            </span>
        </td>
    </tr>
    
</table>
<!-- 1 Column Text + Button : END -->