<!-- 1 Column Text + Button : BEGIN -->
<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="padding-left:12px">
    <tr class="bg-beige-bg">
        <td width="6" color="#00B050" style="background-color:#00B050; width:12px"></td>
        <td class="font-main pl-3 pr-3"> 
            <span>
                <p class="text-2sm font-main leading-4.5">While not an official sponsor of the Paralympics, Hilton nonetheless recognizes the value of the games and engaged in multiple activations in the support of the games.</p>
            </span>
        </td>
    </tr>
    <tr class="bg-beige-bg">
        <td width="6" color="#00B050" style="background-color:#00B050; width:12px"></td>
        <td class="font-main pl-3 pt-3 pr-3">
            <!--[if mso]>
            <table role="presentation" border="0" cellpadding="0" width="150" height="110" cellspacing="0" align="right" style="width:150px; height:110px"><tr><td style="padding:5px 5px 10px 10px;">
            <![endif]-->
            <span>
                <img src="../images/paraolympics-short.jpg" alt="Howie Sanborn, Paralympian Triathlete on Team USA 2024" align="right" width="150" height="110" class="float-right ml-3 mr-3 mt-6">
            </span>
            <!--[if mso]>
        </td></tr></table>
        <![endif]-->
            <span>
            <h3 class="text-base font-main leading-4.5 m-0">Para-athlete panel discussion</h3>
            <p class="text-2sm font-main leading-4.5">Two Team USA Paralympians joined us for a virtual panel discussion at this year’s Global Accessibility Awareness Day (GAAD). They shared insights into the need for accessible travel experiences for athletes with disabilities, especially hotel gym workouts. Several athletes shared their stories, and attendees learned steps that hotels can take to enhance gym accessibility.</p>
            <p class="text-2sm font-main leading-4.5">Watch the GAAD session <a href="https://hilton.sharepoint.com/sites/LS_Accessibility/SitePages/GAAD-2024-Virtual-Sessions.aspx?xsdata=MDV8MDJ8QW5kcmVhLlNrZXJpZXNASGlsdG9uLmNvbXxkYzUwYmVlNmIxYzU0ZGYyODVkYzA4ZGNlMThiMDhkOXw2NjAyOTJkMmNmZDU0YTNkYjdhN2U4ZjdlZTQ1OGEwYXwwfDB8NjM4NjMzMjM0NTYyNDc2MzI1fFVua25vd258VFdGcGJHWnNiM2Q4ZXlKV0lqb2lNQzR3TGpBd01EQWlMQ0pRSWpvaVYybHVNeklpTENKQlRpSTZJazFoYVd3aUxDSlhWQ0k2TW4wPXwwfHx8&sdata=ZytwRmFYcGRDNzZ6Y1pueXpqcjBENld6K1RFOWFzU21NR1VQY1JEZTZuVT0%3d#inclusive-fitness-supporting-athletes-with-disabilities-in-hotel-gyms" style="text-decoration:underline" class="underline text-beige-bg-link">Inclusive Fitness: Supporting Athletes with Disabilities in Hotel Gyms</a>.</p>
            </span>
        </td>
    </tr>
    <tr class="bg-beige-bg">
        <td width="6" color="#00B050" style="background-color:#00B050; width:12px"></td>
        <td class="font-main pl-3 pr-3 pt-3 pb-6">
            <!--[if mso]>
            <table role="presentation" border="0" cellpadding="0" width="150" height="159" cellspacing="0" align="right" style="width:150px height:159px"><tr><td style="padding:5px 5px 10px 10px;">
            <![endif]-->
            <span>
                <img src="../images/danielle.png" alt="Danielle Brown, British double Paralympic gold medalist in archery" align="right" width="150" height="159" class="float-right ml-3 mr-3 mt-6">
            </span>
            <!--[if mso]>
        </td></tr></table>
        <![endif]-->
            <span>
            <h3 class="text-base font-main leading-4.5 m-0">Paralympian Spotlight</h3>
            <p class="text-2sm font-main leading-4.5">Discover what the career of a paralympic athlete looks like and how the Paralympics is impacting future generations.</p>
            <p class="text-2sm font-main leading-4.5">Watch the recording <a href="https://hilton.sharepoint.com/sites/LS_Accessibility/SitePages/Replay of Hilton's Intergenerational Month Generations TMRG Signature Event.aspx?xsdata=MDV8MDJ8QW5kcmVhLlNrZXJpZXNASGlsdG9uLmNvbXw2NjA4MjJmMjc5MDU0ZDY2NWUzMjA4ZGNlMjFhZTI4OHw2NjAyOTJkMmNmZDU0YTNkYjdhN2U4ZjdlZTQ1OGEwYXwwfDB8NjM4NjMzODUyMjk0OTY3NzkzfFVua25vd258VFdGcGJHWnNiM2Q4ZXlKV0lqb2lNQzR3TGpBd01EQWlMQ0pRSWpvaVYybHVNeklpTENKQlRpSTZJazFoYVd3aUxDSlhWQ0k2TW4wPXwwfHx8&sdata=NHd3dkQ5SFdXWTJiNlpkTGUzTFJUTy9Pd2tuRXBDOGIvZmQyUDdJZXB1RT0%3d&clickparams=eyAiWC1BcHBOYW1lIiA6ICJNaWNyb3NvZnQgT3V0bG9vayIsICJYLUFwcFZlcnNpb24iIDogIjE2LjAuMTczMjguMjA1ODgiLCAiT1MiIDogIldpbmRvd3MiIH0%3D" style="text-decoration:underline" class="underline text-beige-bg-link">Infinite Horizons: How is the Paralympics inspiring Tomorrow?</a>.</p>
            </span>
        </td>
    </tr>
</table>
<!-- 1 Column Text + Button : END -->