<!-- 1 Column Text + Button : BEGIN -->
<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr name="feature">
        <td>
                <if condition="typeof image !== 'undefined'">
                    <tr>
                        <td class="font-main text-center">
                            <div style="padding-bottom:8px">
                                <img src="{{ image }}" alt="{{ alt }}" class="w-3/4" width="75%">
                            </div>
                        </td>
                    </tr>
                </if>
                <tr>
                    <td class="text-black text-sm mb-0 font-main leading-5" style="padding-bottom: 10px">
                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" class="bg-white">
                            <tr><content></content><tr>
                        </table>
                    </td>
                </tr>
        </td>
    </tr>
</table>
<!-- 1 Column Text + Button : END -->