<!-- 1 Column Text + Button : BEGIN -->
<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="padding-left:12px;">
    <tr class="bg-lightblue-bg" style="padding-bottom:12px">
        <td width="6" color="#FFA500" style="background-color:#FFA500; width:12px"></td>
        <td class="font-main pl-3 pr-3 pb-3">
            <!--[if mso]>
            <table role="presentation" border="0" cellpadding="0" width="400" cellspacing="0" align="right" style="width:400px; height:191px"><tr><td style="padding:5px 5px 12px 12px;">
            <![endif]-->
            <span>
                <img src="../images/alt-text-contest-winner.png" alt="2 pictures, one of an All-pink hotel suite with TV on stand, illuminated mirror, white curvy couch and plush low-back chairs with round metal coffee table in the middle, image of Paris Hilton on the wall, and full-length windows plus patio door out to a sunny balcony and a picture of Anna Daglish" align="right" width="400" height="191" class="article-image float-right ml-3 mb-3 mr-3">
            </span>
            <!--[if mso]>
        </td></tr></table>
        <![endif]-->
        <span class="text-sm font-main leading-4.5 py-1 m-0 text-left" style="padding-bottom: 8px;">
            <h3>And the winner is...</h3>
                <p>We’re excited to announce Anna Dalglish as the winner of our October alt text contest! Her description was short and sweet while being so vivid and fun that anyone reading it could practically feel the shimmer and step right into that fabulous, ultra-glam pink dreamland. As Paris Hilton herself would say, 'SLIVING!'</p>
                <p><strong><em>“All-pink hotel suite with TV on stand, illuminated mirror, white curvy couch and plush low-back chairs with round metal coffee table in the middle, image of Paris Hilton on the wall, and full-length windows plus patio door out to a sunny balcony”</em></strong></p>
                <p>And to sweeten the win, we’re sending a Starbucks gift card her way – enjoy the coffee on us!</p>
                <p>Thank you to all who participated and keep reading for our next giveaway!</p>
        </span>    
    </td>
    </tr>
    <tr class="bg-lightblue-bg" style="padding-bottom:12px">
        <td width="6" color="#FFA500" style="background-color:#FFA500; width:12px"></td>
        <td class="font-main pl-3 pr-3 pb-3">
            <!--[if mso]>
            <table role="presentation" border="0" cellpadding="0" width="346" cellspacing="0" align="right" style="width:250px; height:250px"><tr><td style="padding:5px 5px 12px 12px;">
            <![endif]-->
            <span>
                <img src="../images/thanks-to-assistive-technology.jpg" alt="A vibrant group of people, some using assistive technologies enjoy a festive autumn gathering with food, laptops, and cameras." align="right" width="250" height="250" class="article-image float-right ml-3 mb-3 mr-3">
            </span>
            <!--[if mso]>
        </td></tr></table>
        <![endif]-->
        <span class="text-sm font-main leading-4.5 py-1 m-0 text-left" style="padding-bottom: 8px;">
            <h3>Give thanks for assistive technology!</h3>
            <p>Join us in the <a href="https://teams.microsoft.com/l/team/19%3ApYhRabqQHbFslbAjjZIz68Z_puPeLQddP2sDXCZrN5Q1%40thread.tacv2/conversations?groupId=24efbafd-5565-49cc-81ed-a381a71936d8&tenantId=660292d2-cfd5-4a3d-b7a7-e8f7ee458a0a">Accessibility Central Teams Channel</a> chat and share:</p>
            <ol class="text-2sm font-main leading-4.5">
                <li><p class="text-2sm font-main leading-4.5 m-0">What your favorite assistive technology is</p></li>
                <li><p class="text-2sm font-main leading-4.5 m-0">Why you’re thankful for it</p></li>
            </ol>
            <p>Don’t use assistive technology?  Do you increase the font size on your mobile device?  Display captions while watching TV? Utilize Siri for help with directions? Utilize Alexa for help turning lights on or off? These are all examples of assistive technology! <a href="https://teams.microsoft.com/l/team/19%3ApYhRabqQHbFslbAjjZIz68Z_puPeLQddP2sDXCZrN5Q1%40thread.tacv2/conversations?groupId=24efbafd-5565-49cc-81ed-a381a71936d8&tenantId=660292d2-cfd5-4a3d-b7a7-e8f7ee458a0a">Share in our Teams channel by Friday, December 13th</a> and your name will be entered into a random drawing for a fabulous prize. Let’s celebrate accessibility and gratitude together!</p>
    </td>
    </tr>
</table>
<!-- 1 Column Text + Button : END -->