<!-- 1 Column Text + Button : BEGIN -->
<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="padding-left:12px;">
    <tr class="{{background}}" style="padding-bottom:12px">
        <td width="6" color="{{bordercolor}}" style="background-color:{{bordercolor}}; width:12px"></td>
        <td class="font-main pl-3 pr-3 pb-3">
            <!--[if mso]>
            <table role="presentation" border="0" cellpadding="0" width="346" cellspacing="0" align="right" style="width:{{{width}}}px; height={{{height}}}px"><tr><td style="padding:5px 5px 12px 12px;">
            <![endif]-->
            <span class="article-image-wrap">
                <img src="{{ image }}" alt="{{ alt }}" align="right" width="{{{width}}}" height="{{{height}}}" class="article-image pl-3 pb-3 pr-3">
            </span>
            <!--[if mso]>
        </td></tr></table>
        <![endif]-->
            <content></content>
        </td>
    </tr>
    
</table>
<!-- 1 Column Text + Button : END -->