<!-- 1 Column Text + Button : BEGIN -->
<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="padding-left:12px;">
    <tr class="{{background}}" style="padding-bottom:12px">
        <td width="6" color="{{bordercolor}}" style="background-color:{{bordercolor}}; width:12px"></td>
        <td class="font-main pl-3 pr-3 pb-3">
            <p>Congratulations to our 3 winners of the Down Syndrome Awareness Day Flash Contest and a huge thanks for writing your own alt texts! We hope your socks help you spread awareness about the Lots of Socks campaign and complete a rocking outfit! Check out the video, <a href="https://hilton.sharepoint.com/:v:/s/AbilitiesTMRG/EToDCwyDiPFGgQMwG6ZB5HcBUm5GsFDoTmhgrHJA6RLoxw?e=khOUMv">Around the Hilton World in 21 Socks</a>, to see how Hilton team members showed their support.</p>
        </td>
    </tr>
</table>
<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="padding-top: 12px; padding-left:12px;">
    <tr class="{{background}}" style="padding-bottom:12px">
        <td width="6" color="{{bordercolor}}" style="background-color:{{bordercolor}}; width:12px"></td>
        <td class="stack-column-center font-main pl-4 pr-3 pb-3">
            <img src="../images/rachan_dixit.jpg" alt="Rachana wearing a peacock blue with a pink border saree, attempt a catwalk." width="200" height="200">
            <p><strong>Rachan Dixit</strong>: Manager, Quality Engineering</p>
        </td>
        <td class="stack-column-center font-main pl-3 pr-3 pb-2">
            <img src="../images/thais_magane.jpg" alt="Thais Magane is smiling and wearing Logan Magane in a baby carrier while Logan looks at the camera, wondering why his mom can't stop taking selfies with him." width="200" height="200">
            <p><strong>Thais Magane</strong>: Sr Manager, Content Innovation</p>
        </td>
        <td class="stack-column-center font-main pb-4 pl-3 pr-3">
            <img src="../images/lora.jpg" alt="Lora's selfie in which she is wearing a white t-shirt and a bucket hat with a yellow rubber ducks pattern on a sandy beach. " width="200" height="200">
            <p><strong>Lora Rusinouskaya</strong>: Software Engineer, SE-Web Platform</p>
        </td>
    </tr>
</table>
<!-- 1 Column Text + Button : END -->