<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" class="bg-{{{color}}} text-{{{textcolor}}} text-{{{align}}}">
    <tr>
    <td width="12" color="bordercolor" style="width:12px; background-color:{{bordercolor}}"></td>
    <td class="pl-3 pr-5 py-3 m-0">
        <div>
            <!--[if mso]>
            <table border="0" cellpadding="0" width="50" cellspacing="0" align="left" style="width:50px;"><tr><td style="padding-right:12px; padding-left:12px; margin-right:12px">
            <![endif]-->
            <span>
                <img src="../images/paralympics-log.png" alt="Paralympics Logo" align="left" class="float-left" style="width: 50px; margin-right:12px">
            </span>
            <!--[if mso]>
        </td></tr></table>
        <![endif]-->
            <h2 class="m-0 font-main text-xl">{{ text }}</h2>
        </div>
    </td>
    </tr>
</table>