<!-- Hero Image, Flush : BEGIN -->
<table role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td class="text-center">
            <img src="../images/unlock-hero-light.png" align="center" alt="'Unlocking Accessibility' logo, with a fingerprint in the center of a lock.  Tagline: Every room for everyone every time.  (In the tagline) All instances of every are bolded." border="0" style="margin: auto; height: auto; margin: auto; display: block;" class="g-img w-full" width="728" height="121"></img>
        </td>
    </tr>
</table>
<!-- Hero Image, Flush : END -->