<!-- Hero Image, Flush : BEGIN -->
<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr class="pb-2">
        <td>
            <tr class="bg-dark-logo">
                <td class="text-center">
                    <img src="../images/hospitable_hilton_logo_dark.png" width="75%" align="center" alt="‘Hospitable Hilton’ with the ‘able’ and ‘Hilton’ portions in blue to signify that everyone is capable." border="0" style="margin: auto; max-width: 80%; height: auto; background: #dddddd; font-family: sans-serif; font-size: 16px; line-height: 16px; color: #555555; margin: auto; display: block;" class="g-img w-full"></span>
                </td>
            </tr>
            <tr class="bg-dark-logo">
                <td class="px-5">
                    <p class="ml-3 mr-3 mt-2 mb-2 font-subheading font-thin text-2xl text-white text-center">A11y is the <strong class="text-lightblue-logo font-bold">light</strong> and <strong class="text-lightblue-logo font-bold">warmth</strong> of hospitality for <strong class="text-lightblue-logo font-black text-2xl">everyone</strong>!</p>
                </td>
            </tr>
        </td>
    </tr>
</table>
<!-- Hero Image, Flush : END -->