<tr>
    <td>
        <table  role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" class="bg-white font-main">
            <tr>
                <td class="px-5">
                    <h3 class="text-orange text-tr-orange-min">{{ heading1 }}</h3>
                    <p class="text-grey text-sm">{{ text1 }}</p>
                </td>
            </tr>
            <tr>
                <td class="px-5">
                    <h3 class="text-orange text-tr-orange-min">{{ heading2 }}</h3>
                    <p class="text-grey text-sm">{{ text2 }}</p>
                </td>
            </tr>
            <tr>
                <td class="px-5">
                    <h3 class="text-orange text-tr-orange-min">{{ heading3 }}</h3>
                    <p class="text-grey text-sm">{{ text3 }}</p>
                </td>
            </tr>
            <tr>
                <td class="px-5">
                    <h3 class="text-orange text-tr-orange-min">{{ heading4 }}</h3>
                    <p class="text-grey text-sm">{{ text3 }}</p>
                </td>
            </tr>
        </table>
    </td>
</tr>