<p style="margin-bottom:10px; margin-top:0px; margin-left:12px">If a picture is worth a thousand words, alternative
    (alt) text read by screen readers are the voice for them.</p>
<p class="text-2sm font-main leading-4.5 ml-3" style="margin-bottom:10px; margin-top:0px">But how do we sum up an image
    in only a few words?</p>
<p class="text-2sm font-main leading-4.5 ml-3">Consider the context. Does the image add information or is it decorative?
    Does it illustrate a feeling or emotion? Sometimes, AI generates alt text; does it accurately describe the image in
    the page`s context?</p>
<h3 class="mt-2.5 mb-2.5 ml-3">How to write alt text</h3>
<p class="text-2sm font-main leading-4.5 ml-3">Be descriptive, not literal. Avoid bland descriptions and aim for
    concise, vivid text. Alt text can also boost SEO. Learn more in our <a
        href="https://hilton.sharepoint.com/sites/LS_Accessibility/Shared Documents/GAAD 2024/GAAD Recordings and Presentations/alt-text_why-it-matters-and-how-to-write-it-effectively.mp4"
        style="text-decoration:underline" class="underline text-beige-bg-link">GAAD 2024 presentation on alt text.</a>
</p>
<h3 class="mt-2.5 mb-2.5 ml-3">Contest</h3>
<p class="text-2sm font-main leading-4.5 ml-3">Imagine the photo in this article is being used to advertise our Stay
    Like an Infinite Icon suite, which is located at the legendary Beverly Hilton and was created in collaboration with
    Paris herself. What would you write for the alt text? <a
        href="https://engage.cloud.microsoft/main/org/hilton.com/threads/eyJfdHlwZSI6IlRocmVhZCIsImlkIjoiMjk0OTM3NTEyODczOTg0MCJ9?trk_copy_link=V2"
        style="text-decoration:underline" class="underline text-beige-bg-link">Share your alt text entry</a> to our Viva
    Engage post and you could win a Starbucks gift card!</p>