<tr>
    <td>
        <table  role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" class="">
            <tr>
                <td width="640" height="" class="bg-clip-content w-full bg-white">
                    <p class="font-main my-0 mx-5 text-base">Here are some Thomson Reuters Accessibility Team Resources to help you with your everyday needs:</p>        
                </td>
            </tr>
            <tr>
                <td class="bg-white pb-5" ></td>
            </tr>
            <tr>
                <td class="pb-5">
                    <center>
                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" class="text-center items-center bg-white pb-2.5">
                            <tr role="listitem"><td class="w-emailfull" style="margin-left: 0; margin-right: 0; padding: 13px 20px; background: #666666; border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; font-family: sans-serif; font-size: 15px; line-height: 15px; text-decoration: underline; color: #ffffff; display: block;"><a class="button-a button-a-primary text-center items-center text-white" href="https://trten.sharepoint.com/sites/intr-digital-accessibility-coe">Digital Accessibility Center of Excellence</a></td></tr>
                            <tr role="listitem"><td class="w-emailfull" style="margin-left: auto; margin-right: auto; padding: 13px 20px; background: #666666; border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; font-family: sans-serif; font-size: 15px; line-height: 15px; text-decoration: underline; color: #ffffff; display: block;"><a class="button-a button-a-primary text-center items-center text-white" href="https://trten.sharepoint.com/sites/intr-digital-accessibility-coe/SitePages/Visual-design-accessibility-requirements.aspx">Visual design accessibility requirements</a></td></tr>
                            <tr role="listitem"><td class="w-emailfull pb-2.5" style="margin-left: auto; margin-right: auto; padding: 13px 20px; background: #666666; border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; font-family: sans-serif; font-size: 15px; line-height: 15px; text-decoration: underline; color: #ffffff; display: block;"><a class="button-a button-a-primary text-center items-center text-white" href="https://trten.sharepoint.com/sites/intr-digital-accessibility-coe/SitePages/Accessibility-component-acceptance-criteria.aspx">Accessibility component acceptance criteria library</a></td></tr>
                        </table>
                    </center>
                </td>
            </tr>
        </table>
    </td>
</tr>