<extends src="main.html">
    <block name="template">
        <fetch url="http://localhost:1337/api/component-tests"></fetch>
        <each loop="data in response.data">
        <p>{{ data.attributes.type }}</p>
        <if condition="data.attributes.text !== null">
            <component src="{{ data.attributes.type }}.html" text="{{ data.attributes.text}}"></component>
        </if>
        <else>
            <component src="{{ data.attributes.type }}.html" ></component>
        </else>
        </each>
    </block>
    
</extends>